<div class='div-comments'>
  <% post.five_recent_comments(post.id).each do |comment| %>
     <div class='comments'>
        <%= User.find_by(id: comment.user_id).name %>: <%= comment.text %>      
      </div>
  <% end %>        
</div>
