<div class='user_box' >
  <div class='user_photo'>        
      <%= image_tag( 'user.png', size: "50x50", :alt => 'User: ' + user.name.to_s  ) -%>
  </div>
  <div class='user_namePost'>
      <div class='user_name'>
        <h1><%= link_to user.name, user %></h1>
      </div>
        <div class="user_numOfPosts"
      <p>Number of posts: <%= user.posts_counter %></p>
      </div>
  </div>
</div>
